<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indian AC Services</title>
    <!-- CSS only -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
 {% load static %}
 {% include 'app/message.html' %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Indian AC Services</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact US</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#services">Our Services</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://drive.google.com/thumbnail?id=1mmfv98zB_TwlWHVSa-c542YND2mXybC5" class="d-block w-100" height="500px" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://drive.google.com/thumbnail?id=1vmrawbucW_u5AIMFmIeSW95GU1hRM7lH" class="d-block w-100 " height="500px" alt="...">

    </div>
    <div class="carousel-item">
      <img src="https://drive.google.com/thumbnail?id=1cDV3CmCNzsyN0D_MnHSNXc5Zf2MrvJ21" class="d-block w-100" height="500px" alt="...">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 <h1 align="center" id="services"> <span class="badge bg-dark mt-5">Our Sevices</span></h1>
 <div class="m-5">
   <p> The air conditioner is one of the necessary items in our modern homes, not a luxury item. Due to the rising temperatures in our nation, especially for those who live in urban areas, air conditioning is a must for a hassle-free existence. Because of the excessive heat produced by various sorts of enterprises, our cities, particularly the industrial areas, get extremely hot during the summer.

Currently, there are hundreds of manufacturers producing air conditioners on the market, and they are constantly working to improve cooling and advance it by implementing new innovations on a regular basis. Since air conditioners are expensive electric appliances, they need constantly be in top shape to perform at their best. It's a nightmare-like situation whenAC is not cooling down correctly.

It is recommended that AC repairs be carried out by a skilled and knowledgeable business like Ustad Services. Our goal is to keep you calm and cool even throughout the sweltering and irritating summers. At your doorstep, we are experts in AC repair, service, installation, and gas refilling.</p>
 </div>
 <div class="container-fluid">
 <div class="row">
   <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=1cWfdixVl-HVBdsLzex_sYUHu17pxm3hd" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Split AC Repair Services</h5>
    <p class="card-text">We are providing Split Air Conditioner Repair, Split AC Service and Split AC Installation service. You need to give us a call or book online by submit your details.</p>
</div>
   </div>
   </div>
   <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=1hsdHDQ4QGeqNu2IzXh6FiV05rprqT273" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Central AC Repair Services</h5>
    <p class="card-text">We are providing Central AC Repair, Central AC Service and Central AC Installation service. You need to give us a call or book online by submit your details.</p>
  </div>
</div>
   </div>
   <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=1QG01FNbn3RyMnDpIMMpUQQ1aeRyiS3KW" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Cassette AC Repair Services</h5>
    <p class="card-text">We are providing Cassette AC Repair, Cassette AC Service and Cassette AC Installation service. You need to give us a call or book online by submit your details.</p>
  </div>
     </div>
</div>
   <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=1SLFP2cMiCae17gnLUbFt-ZS8fuC_tmdX" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Window AC Repair Services</h5>
    <p class="card-text">We are providing Window AC Repair services, Window AC Service and Window AC Installation service. You need to give us a call or book online by submit your details.</p>
  </div>
     </div>
</div>
      <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=1I_sbqzEA2K4Y7ca_INWduUq3_moQdBOm" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Refrigerator Repair Services</h5>
    <p class="card-text">We are providing Refrigerator Repair services, You need to give us a call or book online by submit your details.</p>
  </div>
</div>
   </div>
      <div class="col p-5" align="center">
     <div class="card" style="width: 18rem;">
  <img src="https://drive.google.com/thumbnail?id=12XDTcMPBhbJqzVXpu1fbpq1o0ivRMEM1" class="card-img-top" alt="..." height="150px">
  <div class="card-body">
    <h5 class="card-title">Washing machine Repair Services</h5>
    <p class="card-text">We are providing washing machine repair services,You need to give us a call or book online by submit your details.</p>
  </div>
</div>
   </div>

   </div>
 </div>

 <h1 align="center"> <span class="badge bg-dark mt-5 mb-5"> Book Your Slot</span></h1>

<div class=" container">
  <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-group">
    <label class=""> Your Full Name</label>
    <input type="text" class="form-control"  name="name" required>
  </div>
       <div class="form-group">
    <label class=""> Mobile Number</label>
    <input type="text" class="form-control"  name="number" required>
  </div>
       <div class="form-group">
    <label class=""> Email</label>
    <input type="text" class="form-control"  name="email" required>
  </div>
<div class="row">
    <div class="col">
            <div class="form-group">

                <label class="mr-5" >Choose a catagory:</label>
<select name="catagory" class="btn btn-dark m-5">

    <option value="window">Window AC Repair Service</option>
  <option value="split">Split AC Repair Service</option>
  <option value="central">Central AC Repair Service</option>
      <option value="cassette">Cassette AC Repair Service</option>
  <option value="other">Other</option>


</select>
            </div>
    </div>
</div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
 <div class='mt-5' style="font-size:20px" align="center">
     <b>OR </b>
 </div>
 <div  class='mt-2' style="font-size:20px" align="center">
     <b> Contact us on : 9058624625 </b>

 </div>
 <div align="center" class="mt-2 mb-5">
    <div style="font-size:20px"><b>Address : &nbsp;&nbsp;&nbsp; Baraut &nbsp;250611</b></div>
</div>

 <div style="background-color:black;">
     <div align="center" class="p-3">
         <p> <span> <a href="\" style="color:white; text-decoration: none;" > Home</a></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>
             <a href="about" style="color:white; text-decoration: none;"> About Us</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <span> <a href="contact" style="color:white; text-decoration: none;"> Contact Us </a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </p>
     </div>
      <div align="center" style=" color:white" class="p-3">
         <a href="/#services" style="color:white; text-decoration: none;"> Our Services </a>
     </div>
      <div align="center" style="font-size: 20px; color:white" class="p-3">
         Indian Ac Services
     </div>
 </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>